* {
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

:root {
    --primary: #88AB8E;
    --primary-light: #AFC8AD;
    --secondary: #EEE7DA;
    --secondary-light: #F2F1EB;
  }

/* Layout */

body {
    margin: 0;
    padding: 0;
    display: grid;
    height: 100vh;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto 1fr auto;
}

header {
    grid-area: header;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

main {
    grid-area: main;
    background-color: var(--secondary-light);
    padding: 20px 20vh 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    grid-area: footer;
    background-color: var(--primary);
}

article {
    display: flex;
}

img {
    border: 1px solid var(--primary-light);
    width: 250px;
    height: auto;
}

td, th {
    border: 1px solid var(--primary-light);
    padding: 0.5rem;
}

.plant-info {
    padding: 0 1rem;
}

.plant-nombre {
    font-size: 1.5rem;
    color: var(--primary);
    font-weight: bold;
}

.plant-categria {
    font-size: 0.8rem;
    color: #46a17b;
    text-decoration: underline;
    cursor: pointer ;
}

.plant-descripcion {
    font-size: 0.9rem;
    text-align: justify;
    color: #333;
}

.header-title {
    margin: 0;
    font-size: 1.7rem;
    padding: 0.5rem 0;
}

.header-title-link {
    text-decoration: none;
    color: var(--secondary);
}

.navlist {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navlist-item {
    list-style-type: none;
    padding: 0 1rem;
}

.navlist-item-link {
    display: block;
    height: inherit;
    padding: 10px;
    text-decoration: none;
    color: var(--secondary);
    transition: all 0.3s ease-in-out;
}

.footer-legend {
    text-align: center;
    font-size: 0.8rem;
    padding: 0.5rem;
    margin: 0;
}

.datatable {
    border: 1px solid var(--primary-light);
    background-color: var(--secondary);
    width: 100%;
    border-collapse: collapse;
}

.datatable-legend {
    text-align: center;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    margin: 0;
}

.navlist-item-link:hover {
    color: var(--secondary-light);
    background-color: var(--primary-light);
}

tfoot {
    background-color: var(--primary);
    text-align: center;
}

tfoot td {
    padding: 0;
}

.pagination-link {
    color: var(--secondary);
    display: inline-block;
    padding: 5px 30px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.pagination-link:hover {
    color: var(--secondary-light);
    background-color: var(--primary-light);
}

.table-row {
    transition: all 0.3s ease;
}

.table-row:hover {
    background-color: var(--primary-light);
    cursor: pointer;
}

.hidden {
    display: none;
}

.is-current {
    color: var(--secondary-light);
    text-decoration: underline;
    background-color: var(--primary-light);
}

.category-plants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-plants-item:first-child {
    display: none;
}

section article {
    flex-direction: column  ;
}

section img {
    height: 300px;
    width: 200px;
}

.category-plants-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--primary-light);
    background-color: var(--secondary);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.category-plants-item:hover {
    background-color: var(--primary-light);
}

.category-plants-item-nombre {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
}

/* Responsive para celular */

@media (max-width: 768px) {
    header {
        padding: 0 10px;
    }
    main {
        padding: 20px 10px 100px;
    }
    article {
        flex-direction: column;
    }
    img {
        width: 100%;
        order: 1;
    }
    .plant-info {
        padding: 0;
    }
}
